@model IList<Phone>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <table class="table-primary full-width-table" >
        <tr>
            <td>Id</td>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
        </tr>
        @foreach(var phone in Model)
        {
    <tr>
       
        <td>@phone.Name</td>
        <td>@phone.Company</td>
        <td>@phone.Price</td>
        <td><a href="/Home/Buy/@phone.Id">Buy Now</a></td>
    </tr>
        }
    </table>
</div>
