@model MobileStoreWithSQLite.Views.Shared.Components.Timer.TimerOptions

<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
<div id="coinmarketcap-widget-marquee" coins="1,1027,1274,2083,789" currency="USD" theme="@Model.ThemeName" transparent="true" show-symbol-logo="true"></div>